@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
    --primary-color: #4285F4;
    --border-color: #DEE2E6;
    --danger-color: #DB4437;
    --background-color: #FFFFFF;
    --gray-800: #202833;
    --gray-600: #70757A;
    --gray-400: #DADCE0;
    --gray-200: #F6FAFE;
}

body {
    width: 400px;
    color: var(--gray-800);
    font-family: 'Satoshi', sans-serif;
}

/* search bar */
.brand {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    background-color: var(--background-color);
}

.input-group-prepend {
    margin-right: -2px;
}

.form-control {
    border-left: 0;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

.form-control::placeholder {
    color: var(--gray-600);
    font-weight: light;
}

.form-control:focus {
    color: var(--gray-600);
    background-color: var(--background-color);
    border-color: var(--border-color);
    outline: none;
    box-shadow: none;
}

.form-control:focus::placeholder {
    opacity: 0;
}

.input-group-text.brand img {
    transform: scale(0.65);
}

/* list-group-item */
.list {
    color: var(--gray-600);
    word-break: break-all;
    max-width: 100%;
    cursor: pointer;
}

.list:hover {
    color: var(--primary-color);
    background-color: var(--gray-200);
    border: 1px solid var(--primary-color) !important;
}

#selectedTextList {
    max-height: 290px;
}

/* arrow icon */
li i {
    display: none;
}

li:hover i {
    display: inline;
}

/* buttons */
.maps-btn {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

#clearButton {
    background-color: var(--gray-400);
    border: 1px solid var(--gray-400);
    color: var(--gray-600);
}

#clearButton:hover {
    background-color: var(--danger-color);
    border: 1px solid var(--danger-color);
    color: var(--background-color);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--gray-400);
    border-radius: 10px;
}